# <center> Практична робота 01 </center> <center> Місце та задачі машинного навчання </center>

___Завдання:___ cформувати блокнот Jupyter Notebook для розвідувального аналізу даних

___За прострочку___ додаткове завдання: доповнити блокнот 5ма математичними формулами, записаними за допомогою LaTEX-нотації

### <p style='text-align: right;'> Виконав студент групи <ins>1П-20</ins> </p><p style='text-align: right;'> <ins>Прізвище Ім'я По батькові</ins> </p>

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


# зчитуємо дані з датасету.
url = 'https://raw.githubusercontent.com/Kaushik-Varma/Marketing_Data_Analysis/master/Marketing_Analysis.csv'
data= pd.read_csv(url, low_memory=False)

# виводимо дані (перші 20 записів)
data.head(20)

,banking marketing,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,customer id and age.,NaN,Customer salary and balance.,NaN,Customer marital status and job with education...,NaN,particular customer before targeted or not,NaN,Loan types: loans or housing loans,NaN,Contact type,NaN,month of contact,duration of call,NaN,NaN,NaN,outcome of previous contact,response of customer after call happned
1,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
2,1,58,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
3,2,44,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
4,3,33,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
5,4,47,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
6,5,33,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no
7,6,35,100000,231,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",139 sec,1,-1,0,unknown,no
8,7,28,100000,447,single,"management,tertiary",no,no,yes,yes,unknown,5,"may, 2017",217 sec,1,-1,0,unknown,no
9,8,42,120000,2,divorced,"entrepreneur,tertiary",no,yes,yes,no,unknown,5,"may, 2017",380 sec,1,-1,0,unknown,no
10,9,58,55000,121,married,"retired,primary",yes,no,yes,no,unknown,5,"may, 2017",50 sec,1,-1,0,unknown,no
11,10,43,60000,593,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",55 sec,1,-1,0,unknown,no
12,11,41,50000,270,divorced,"admin.,secondary",yes,no,yes,no,unknown,5,"may, 2017",222 sec,1,-1,0,unknown,no
13,12,29,50000,390,single,"admin.,secondary",yes,no,yes,no,unknown,5,"may, 2017",137 sec,1,-1,0,unknown,no
14,13,53,60000,6,married,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",517 sec,1,-1,0,unknown,no
15,14,58,60000,71,married,"technician,unknown",no,no,yes,no,unknown,5,"may, 2017",71 sec,1,-1,0,unknown,no
16,15,57,70000,162,married,"services,secondary",yes,no,yes,no,unknown,5,"may, 2017",174 sec,1,-1,0,unknown,no
17,16,51,55000,229,married,"retired,primary",yes,no,yes,no,unknown,5,"may, 2017",353 sec,1,-1,0,unknown,no
18,17,45,50000,13,single,"admin.,unknown",no,no,yes,no,unknown,5,"may, 2017",98 sec,1,-1,0,unknown,no
19,18,57,20000,52,married,"blue-collar,primary",yes,no,yes,no,unknown,5,"may, 2017",38 sec,1,-1,0,unknown,no